@{
    ViewData["Title"] = "Home Page";
}


<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5"> ROLLING PLACES</h1>
                <h1 class="mb-5">BIENVENIDOS TE INVITAMOS A VISITAR, CONOCER, CALIFICAR Y COMPARTIR TODOS LOS LUGARES QUE VISITES!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="ChangeUser" class="btn btn-success btn-lg btn-block">Modify User</a>                    
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-primary btn-lg btn-block">Logout</a>
                        }
                        else
                        {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-success btn-lg btn-block">Login!!</a>
                        <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-lg btn-block">Registro!!</a>
                        }
                </div>

            </div>
        </div>
 
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fas fa-chart-line m-auto text-primary"></i>
                    </div>
                    <h3>EFICIENCIA</h3>
                    <p class="lead mb-0">Dar a conocer tu negocio en distintas ciudades atrayendo clientes, mejorando el flujo de caja y rentabilidad de tus productos o servicios</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">                    
                        <i class="fas fa-laptop-code m-auto text-primary"></i>
                    </div>
                    <h3>ACCESIBILIDAD</h3>
                    <p class="lead mb-0">Acceso multiplataforma App movil y WEB!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fas fa-globe-americas m-auto text-primary"></i>
                    </div>
                    <h3>CONOCE</h3>
                    <p class="lead mb-0">Pasa y conoce los mejores destinos para visitar. Cada uno de ellos te prometerá enamorarte más de nuestro país.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('~/../img/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Explora</h2>
                <p class="lead mb-0">Atrevete a añadir lugares dar tu opinion y dejar tu calificacion para que los demas usuarios tengan un panorama acerca del sitio y su servicio!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('~/../img/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Potencializa tu Marca</h2>
                <p class="lead mb-0">Es fundamental para tu negocio dar a conocer tu producto o servicio y que mejor recibiendo calificaciones y comentarios de tus clientes invitando asi a otros a que vengan y conozcan</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('~/../img/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Conexion</h2>
                <p class="lead mb-0">Conecta nuestra app mobil con tu red social Facebook</p>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">La gente dice...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/../img/testimonials-1.jpg" alt="">
                    <h5>Manuela M.</h5>
                    <p class="font-weight-light mb-0">"Es fantastico Muchas gracias Chicos!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/../img/testimonials-2.jpg" alt="">
                    <h5>Julito O.</h5>
                    <p class="font-weight-light mb-0">"Mis clientes han aumentado y gracias a la App he tenido muy buenas calificaciones."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="~/../img/testimonials-3.jpg" alt="">
                    <h5>Sara P.</h5>
                    <p class="font-weight-light mb-0">"La mejor App de la vida"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Listo para empezar? Registrate!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">                           
                    <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-lg btn-block">Registro!!</a>             
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2020. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
